<div class="callout">
  <div class="grid grid--1x2">
    <div class="callout__header">
      <h2 class="callout__title">ready to get started?</h2>
      <p class="callout__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias soluta
        facere maxime reprehenderit commodi beatae aliquam repudiandae nemo
        laborum obcaecati!
      </p>
    </div>
    <div class="callout__footer">
      <a href="#" class="btn btn--block btn--secondary btn--stretched"
        >get started</a
      >
    </div>
  </div>
</div>
